# Elixir version
elixir_version=1.10.3

# Erlang version
# available versions https://github.com/HashNuke/heroku-buildpack-elixir-otp-builds/blob/master/otp-versions
erlang_version=22.3.4

# Doesn't work static file system
# hook_pre_compile="mv bin/gleam /bin/gleam"
hook_pre_compile="export PATH=~/bin:$PATH"
