<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta
      name="google-site-verification"
      content="DSfTPM5yNhF-stOZ-bYS14TWtH3FonxrVH34fo8Hf7U"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kno - Passwordless Authentication</title>
    <meta
      name="description"
      content="Kno is an API for providing secure passwordless authentication for your web application"
    />
    <meta
      name="keywords"
      content="Kno, passwordless authentication, privacy, secure, MFA"
    />

    <!--  Sharing META Tags -->
    <meta property="og:title" content="Kno - Passwordless Authentication" />
    <meta
      property="og:description"
      content="Kno is an API for providing secure passwordless authentication for your web application."
    />
    <meta
      property="og:image"
      content="https://trykno.com/assets/images/iphone-approve_iphone8silver_portrait.png"
    />
    <meta property="og:url" content="https://trykno.com/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Try Kno, trykno.com" />
    <meta
      name="twitter:image:alt"
      content="smart phone showing demo of Kno passwordless authentication "
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/atom-one-dark.min.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <script type="text/javascript" src="/main.js"></script>
    <style media="screen">
      html {
        box-sizing: border-box;
      }
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      body {
        margin: 0;
      }

      html {
        font-size: 16px;
        font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
          Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
          Helvetica Neue, sans-serif;
        color: #43464b;
      }
      @media screen and (min-width: 600px) {
        html {
          font-size: 20px;
        }
      }

      .page > * {
        padding-left: 1rem;
        padding-right: 1rem;

        /* todomove to class */
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    <!-- TODO plausible -->
  </head>
  <body class="page">
    <!-- <script type="text/javascript" src="/qrcode.min.js"> </script> -->
    <img id="qrcode"></img>
      <!-- <script type="text/javascript">
      new QRCode(document.getElementById("qrcode"), {text: "qrpu.sh/AAAAAEQ32FYCT7FZ", correctLevel : QRCode.CorrectLevel.L});
      </script> -->
    <header>
      <h1>QRpu.sh</h1>
      <p>
        Quickly send messages now
      </p>
      <p>
        The fastest way to send messages between devices, no account necessary
      </p>
      <p>
        <button type="button" name="button">Get started, no account</button>
      </p>
      <p>
        Join the mailing list. Probably later
      </p>
      <p>
        <input type="email" name="" value="" />
      </p>

      <ol>
        <li>Login with app</li>
        <li>Share social profile</li>
        <li>Multiplayer games controller</li>
      </ol>
    </header>
    <main>
      <h2>Get started now</h2>
      <h4>Recever, open mailbox</h4>
      <script type="text/javascript">
        (async function () {
          const params = new URLSearchParams(window.location.search)
          const address = params.get("qrpu.sh")
          if (address) {
            QrPush.send(address, {greeting: "Hello"})
          } else {
            console.log("Starting")
            const channel = await QrPush.openChannel({redirect: window.location.toString()})
            channel.displayOverlay()
            channel.displayOverlay()
            setTimeout(async function () {
              channel.close()
              const channel2 = await QrPush.openChannel({redirect: window.location.toString()})
              const message = await channel2.receive()
              console.log(message)
            }, 2000);
            console.log("Receiving", channel)
          }
        }());
      </script>
      <pre><code class="javascript">
// start a new channel
const mailbox = await QrPush.open({redirect: "http://myapp.com/ping"})
const message = await mailbox.receive()
      </code></pre>
      <h4>sender sends message</h4>
      <pre><code class="javascript">
const qrPush = QrPush.send()
const message = await qrPush.receive()
      </code></pre>
      <p>Code snippet</p>
      <p>
        Full example pinger.
      </p>
      <pre><code class="javascript">// ping.html
const params = new URLSearchParams(window.location.search)
const address = params.get("qrpu.sh")

if (address) {

  QrPush.send(address, {greeting: "Hello"})

} else {

  const mailbox = await QrPush({redirect: window.location})
  const message = await mailbox.receive()
  alert("Greeting received: " + message.greeting)

}
      </code></pre>
      <p>See the rest of your docs</p>
      <h2>Features</h2>
      <h3>Short URLs</h3>
      <p>
        Use our smart URL shortener to reduce the Data in QR codes for easier
        scanning
      </p>
      <h3>Customisable redirects</h3>
      <h3>Redirect to apps</h3>
      <h3>Tracking</h3>
      <h3>Metadata about the sender</h3>
      <h2>
        Pricing
      </h2>
      <h3>Free</h3>
      <p>
        No account needed
      </p>

      <h3>Paid</h3>
      <p>
        coming soon
      </p>
    </main>
    <footer></footer>
  </body>
</html>
